*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}
#page1,#page2,#page3{
    
    height: 100vh;
    width: 100%;
    padding: 5vw 0;
}
#move{
    background-color: #D9FF06;
    display: flex;
    /* height: 40px;
    width: 100%; */
    padding: 3vw 0;
    overflow: hidden;
}
.design{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 3vw;
    padding: 0 1.5vw;
    /* transform: translateX(-100%); */
}
.design h1{
    font-size: 4vw;

}
.design img{
    height: 4vw;
}